@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: IRANSans;
      src: local("IRANSans"), url("./font/IRANSans/IRANSans_Light.ttf");
      font-display: "swap";
    }
    html{
        overflow-x: hidden;
    }
    body{
        direction: rtl;
       font-family: IRANSans; 
      }
  }
  @layer components {
    .app_container.open{
      overflow-y: hidden;
      position: fixed;
    }
    span,
    p {
      user-select: none;
    }
    .scrollbar-customize {
      scrollbar-gutter: stable;
    }
    .scrollbar-customize::-webkit-scrollbar {
      width: 3px;
    }
    .scrollbar-customize::-webkit-scrollbar-thumb {
      background: #71717a;
      border-radius: 100px;
    }
    /*  */

    .nav_items{
      @apply flex items-center gap-x-7 lg:gap-x-9 h-14;

    }
    .nav_items .active,#mobileNav .active{
      @apply text-orange-200
    }
    #mobileNav .active{
      /* @apply bg-orange-200/20 */
    }

    #mobileNav.open {
      box-shadow: -294px 9px 1089px 550px rgba(0, 0, 0, 0.4);
      right: 0 !important;
    }
  
    /*  */
    #mobileMenu > li.show {
      @apply text-orange-300;
    }
    #mobileMenu > li.show > div {
      @apply h-[140px] overscroll-auto;
    }
    #mobileMenu > li.show .chevron-down {
      @apply rotate-1;
    }
  
    /* subset__item--active */
    .subset__item--active {
      @apply text-orange-300 pr-2.5 relative;
    }
    .subset__item--active::before {
      content: "";
      @apply absolute w-1 h-1 rounded-[50%] bg-orange-300 block top-0 right-0 bottom-0 m-auto;
    }
  
    /*  */
  
    #mobileUserBasket.open {
      box-shadow: 294px 9px 1089px 550px rgba(0, 0, 0, 0.4);
      left: 0;
    }
  
    /* title */
    .title h3 {
      @apply text-zinc-700 dark:text-white font-medium lg:text-5xl text-2xl md:text-3xl font-MorabbaLight;
    }
    .title .title__guide {
      @apply flex justify-between pt-1.5;
    }
    .title h6 {
      @apply font-MorabbaLight text-zinc-700 dark:text-white lg:leading-[48px] lg:text-3xl md:text-2xl text-lg font-light;
    }
    .title .see__all {
      @apply text-orange-300  lg:text-xl md:text-lg text-base tracking-tightest font-semibold items-center gap-x-1;
    }
    .title .see__all svg {
      @apply w-5 h-5 font-medium shrink-0 stroke-2;
    }
  
    /* product */
    .products__container {
      @apply lg:pt-12 lg:pb-0 py-5 grid xl:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 grid-cols-1 lg:gap-5 gap-[14px] justify-center;
    }
    .product__box {
      @apply w-full;
    }
    .product__box-content {
      @apply relative flex flex-col xs:gap-y-5 gap-y-9 bg-white dark:bg-zinc-700 lg:p-5 p-2 rounded-2xl;
    }
    .product__discount {
      @apply absolute  lg:top-6 top-3 lg:right-6 right-3 flex items-center justify-center bg-orange-300 lg:w-[54px] lg:h-[30px] xs:w-10 xs:h-5 w-12 h-6 rounded-full;
    }
    .product__discount span {
      @apply lg:text-base xs:text-xs text-sm font-semibold dark:text-zinc-700 text-white;
    }
    .product__img {
      @apply xs:w-32 w-36 lg:w-[260px] xs:h-32 h-36 lg:h-[260px] mx-auto;
    }
    .product__name {
      @apply line-clamp-2 dark:text-white text-zinc-700 text-base xs:text-sm lg:text-xl font-medium;
    }
    .product__price-info {
      @apply lg:pt-2.5 pt-1.5 flex gap-x-2.5;
    }
    .no__product {
      @apply text-red-400 lg:text-xl md:text-lg xs:text-sm text-lg font-normal;
    }
    .product__price {
      @apply text-emerald-500 text-sm xs:text-xs lg:text-sm font-normal tracking-[-0.7px];
    }
    .product__price-number {
      @apply font-semibold lg:text-xl xs:text-base text-lg;
    }
    .product__price--del {
      @apply text-gray-400 lg:text-base xs:text-sm text-base font-semibold tracking-[-0.7px] line-through decoration-red-500;
    }
    .product__nav {
      @apply flex justify-between items-center;
    }
    .product__buy {
      @apply flex items-center gap-x-2.5 sm:gap-x-5;
    }
    .product__buy span {
      @apply lg:w-9 xs:w-[26px] w-7 lg:h-9 xs:h-[26px] h-7 flex justify-center items-center dark:bg-zinc-800 bg-gray-100 rounded-full;
    }
    .product__buy svg {
      @apply lg:w-[22px] xs:w-4 w-5 lg:h-[22px] xs:h-4 h-5 dark:text-white/60 text-gray-400;
    }
    /* .product__arrow {
      @apply lg:w-6 xs:w-4 w-12 lg:h-6 xs:h-4 h-12;
    } */
    .product__stars {
      @apply flex;
    }
    .product__stars svg.active {
      @apply lg:w-6 w-6 xs:w-4 lg:h-6 h-6 xs:h-4 text-yellow-400;
    }
    .product__stars svg:not(.active) {
      @apply lg:w-6 w-6 xs:w-4 lg:h-6 h-6 xs:h-4 dark:text-white/60 text-gray-300;
    }
  
    /*  */
  
    .product__brand img {
      filter: brightness(0.6);
      transition: 0.3s all;
      @apply sm:w-[400px] md:w-fit w-[358px] sm:h-[150px] md:h-fit h-[142px];
    }
    .product__brand img:hover {
      filter: brightness(1);
    }
  
    .product__category--content > div {
      /* @apply w-[200px] h-[200px] bg-no-repeat bg-center bg-cover; */
    }
  
    /* blog */
    .blog__box {
      @apply flex sm:flex-col  rounded-2xl bg-white dark:bg-zinc-700 p-3 sm:p-2.5;
    }
    .blog__img {
      @apply sm:pb-3 sm:pl-0 pl-2.5;
    }
    .blog__img img {
      @apply rounded-2xl rounded-bl-4xl h-full;
    }
    .blog__info {
      @apply flex flex-col sm:flex-row justify-center gap-x-10;
    }
    .blog__title {
      @apply w-44 sm:w-fit h-min leading-7 text-zinc-700 dark:text-white sm:text-lg text-sm pb-5 sm:pb-0 font-medium sm:font-normal line-clamp-2;
    }
    .blog__nav {
      @apply flex justify-between pt-5 sm:pt-0 sm:pl-[18px] sm:pr-4 sm:border-r sm:border-t-0 border-t border-gray-100 dark:border-white/10;
    }
    .blog__date {
      @apply text-emerald-600 flex items-end pb-[1px] sm:pb-0 sm:flex-col gap-x-1;
    }
    .blog__day {
      @apply sm:font-semibold font-normal sm:text-2xl text-xs;
    }
    .blog__date-m-y {
      @apply font-normal sm:text-sm text-xs;
    }
    .blog__btn {
      @apply text-xs font-normal text-orange-300 flex sm:hidden justify-center items-center bg-orange-300/20 rounded-md w-[71px] h-[22px];
    }
    .blog__btn svg {
      @apply w-4 h-4 pr-1.5;
    }
    .blog__btn span {
      @apply pt-1;
    }
  
    /* services */
    .services__boxes__container {
      @apply relative grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2 items-center gap-y-11;
    }
    .services__boxes__container::after {
      content: "";
      @apply w-[1px] h-full left-1/2 absolute bg-gray-300 dark:bg-white/10 sm:hidden;
    }
    .services__boxes__container::before {
      content: "";
      @apply h-[1px] w-full top-1/2 absolute bg-gray-300 dark:bg-white/10 sm:hidden;
    }
    .services__box {
      @apply flex flex-col sm:flex-row gap-x-4 items-center;
    }
    .services__content {
      @apply dark:text-white text-zinc-700 leading-6 flex flex-col pt-5 lg:pt-0 lg:gap-y-4 gap-y-2;
    }
    .services__info {
      @apply lg:text-lg sm:text-base text-sm  font-semibold;
    }
    .services__subset {
      @apply font-normal lg:text-sm text-xs;
    }
  
    .services__svg--color {
      @apply dark:fill-white fill-zinc-700;
    }
  
    /* end__shape */
    .end__shape {
      left: calc(-112px + 50%);
      @apply absolute rotate-45 rounded-[46px] bottom-0 w-[13.5rem] h-48 dark:bg-zinc-800 bg-gray-100;
    }
  .subset{
    display: block !important;
  }
    /* footer */
    .footer__container {
      @apply xl:px-[96px] lg:px-8 px-4;
    }
    .footer__info {
      @apply flex justify-between items-center flex-wrap pt-0.5 lg:pb-11 pb-6 flex-col xl:flex-row;
    }
    .footer__info > * {
      width: -webkit-fill-available;
      @apply lg:w-fit;
    }
    .footer__nav {
      @apply flex lg:gap-x-16 xs:gap-x-10 gap-x-5;
    }
    .footer__nav ul > a {
      @apply relative pr-4;
    }
  
    .footer__nav ul > a::before {
      content: "";
      background-color: #d9d9d9;
      @apply absolute w-2.5 h-1 top-3 right-0 rounded-[23px];
    }
    .footer__social-btn {
      @apply border border-orange-200  lg:w-[248px] w-44 h-12 rounded-xl flex gap-x-2 items-center justify-center font-normal;
    }
    .footer__social-btn span {
      padding-top: 5px;
    }
    .footer__social-btn.telegram {
      background: linear-gradient(270deg, #fdba74 0%, #fed7aa 100%);
    }
    /* .footer__social-btn.instagram::after {
      content: "";
      background-size: 350%;
      background-position: 100%;
      @apply absolute w-full h-full bg-orange-300;
    }
    .footer__social-btn.instagram:hover::after {
      position: 0;
    } */
    .footer__circle {
      background-image: linear-gradient(180deg, #fdba74 0%, #fed7aa 100%);
      @apply w-[18px] xs:w-[11px] sm:w-2.5 h-2.5 rounded-full;
    }
    .ltr {
      direction: ltr;
    }



    /* Login Form */
    .component_container {
      @apply min-h-lvh w-full flex flex-col items-center justify-center py-10 bg-brown-300;
    }
    .login__form-container {
      @apply w-[550px] rounded-[40px] border-[3px] border-sky-500/50 bg-[#2e2a19b5] backdrop-blur-md px-6 md:px-12 xl:px-16 py-10;
    }
    .login__form-container input {
      @apply w-full px-4 py-2 border border-gray-500 rounded-lg text-zinc-700 placeholder:text-neutral-400  focus-visible:border-sky-400 focus-visible:outline-none;
    }
    .login__form-container label {
      @apply inline-block pb-1 text-white;
    }
    .input__container {
      @apply mb-6 font-medium;
    }



    .product_page_main .thing{
        display: none;
    }


    /* CMS */

    /* header */
     .body__content {
    @apply child:mx-5 py-3;
  }

  .header__nav {
    @apply dark:bg-black-dark bg-white w-72 fixed top-0 right-0 h-full px-4 pt-7 flex flex-col items-center gap-y-8 ml-7;
    
  }
  .header__nav ~ .body__content {
    @apply mr-72;
  }
  .header__menu {
    @apply flex flex-col overflow-y-scroll w-full text-gray-primary font-normal leading-6 text-base child:py-2 child:my-1 child:px-4 child:rounded-md child:flex child:items-center child:gap-x-4 justify-evenly;
    height: inherit;
  }
  .header__menu::-webkit-scrollbar {
    display: none;
  }
  .header__nav.mobile {
    @apply md:w-25 w-20 px-2;
  }
  .header__nav.mobile ~ .body__content {
    @apply mr-25;
  }
  .header__nav.mobile .shape {
  }
  .header__nav.mobile .shape svg {
    @apply rotate-180;
  }
  .header__nav.hide .shape svg {
    @apply rotate-0;
  }
  .header__nav.mobile .nav__logo {
    @apply hidden;
  }
  .header__nav.mobile .header__menu {
    @apply items-center;
  }
  .header__nav.mobile.hide {
    @apply -right-28;
  }
  .header__nav.mobile.hide .shape {
    @apply right-[105px];
  }
  .header__nav.mobile.hide ~ .body__content {
    @apply mr-0;
  }
  .header__nav.mobile .header__menu span:not(.admin__name) {
    display: none;
  }
  .header__nav.mobile .header__menu span.admin__name {
    text-align: center;
    word-break: break-word;
  }
  .header__nav.mobile .header__menu a {
    @apply w-14 h-14 py-2.5 rounded-full justify-center p-0;
  }
  .header__nav.mobile .header__menu a.name__container {
    /* height: unset; */
    @apply h-auto m-0 gap-y-2 leading-5;
  }
  .header__nav.mobile .header__menu svg {
    @apply w-9 h-9;
  }
  .header__menu a.active {
    @apply bg-blue-primary/10 text-blue-primary;
  }


   /* mony__info */

   .mony__info .title {
    @apply font-semibold text-xl;
  }

  /* edit__info--admin */
  .title {
    @apply font-semibold md:text-2xl text-xl dark:text-white text-zinc-800 md:mb-8 mb-5;
  }
  .customize__inputs input,
  .customize__inputs textarea,
  .customize__inputs select,
  .contain-input-swal input,
  .contain-input-swal textarea {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-lg text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .contain-input-swal textarea {
    height: 130px !important;
    padding-top: 1rem !important;
  }
  .customize__inputs input[type="file"] {
    @apply cursor-pointer focus:outline-none ;
  }
  .customize__inputs input[type="radio"] {
    @apply w-4 h-4 rounded-full cursor-pointer ring-offset-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 checked:bg-blue-primary ml-3 mb-1.5;
  }
  .customize__inputs label {
    @apply block mb-2 sm:text-lg text-sm font-semibold text-gray-900 dark:text-white;
  }

  .customize__inputs button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg sm:text-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .customize__inputs button#draftArticleBtn {
    @apply bg-yellow-300 hover:bg-yellow-400;
  }


  

  /* table */
  .public__table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-100;
  }
  .public__table thead {
    @apply text-lg text-gray-700 uppercase bg-blue-primary/20 dark:bg-blue-primary/20 dark:text-gray-300;
  }
  .public__table thead th {
    @apply px-6 py-3 text-center;
  }
  .public__table tbody tr {
    @apply text-base text-center border-b dark:border-gray-700;
  }
  .public__table tbody tr:last-of-type {
    @apply border-b-0;
  }
  .public__table tbody tr th {
    @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
  }
  .public__table tr .attention {
    @apply bg-emerald-700 text-white;
  }
  .public__table tr .no__attention {
    @apply bg-red-600 text-white;
  }
  .public__table .remove,
  .public__table .reject,
  .public__table .ban {
    @apply px-4 py-2 rounded-lg text-white bg-red-600 hover:bg-red-700;
  }
  .public__table .reject,
  .public__table .ban {
    @apply bg-red-800 hover:bg-red-900;
  }
  .public__table .edit,
  .public__table .see,
  .public__table .answer,
  .public__table .accept {
    @apply px-4 py-2 rounded-lg text-white bg-blue-primary/90 hover:bg-blue-primary;
  }

  /* users_input */

  .contain-input-swal {
    @apply mb-6;
  }
  .contain-input-swal input,
  .contain-input-swal textarea {
    @apply w-[-webkit-fill-available] mt-2;
  }

  /* cms_container */
  .cms_container{
    zoom: .8;
  }

  .cms_container .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 640px) {
    .cms_container .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .cms_container .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .cms_container .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .cms_container .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .cms_container .container {
      max-width: 1536px;
    }
  }
  .pure_metal_input {
    @apply w-20 border-2 border-gray-300 dark:border-gray-600 rounded-md text-gray-900 dark:text-white dark:bg-gray-800 focus:border-blue-primary focus:ring focus:bg-blue-primary/90 focus:text-white focus:ring-opacity-50;
  }
  
  }
  